/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

.is-black .site-bg__overlay {
  position: absolute;
  background-color: rgba(1, 1, 1, 0.45);
}

.is-dark .site-bg__overlay {
  position: absolute;
  background-color: rgba(30, 31, 37, 0.45);
}


.description > p {
/*	color: black;
	font: 25px;*/
	display: none;
}
/*#test:hover + p {
	display: block;
}*/


.description > a:hover + p {
	display: block;
	margin-bottom: 40px;
}


#buy {

	background: rgba(10, 58, 58, 0.27);
	margin-bottom: 20px;
}

#buy h3 {
	text-align: center;
}

#buy a {
	color: white;
}